body {
	background-image: url("../img/fondo.png");
	background-position: center;
}

#contenedor {
	width: 90%;
	max-width: 960px;
	background: rgba(255, 255, 255, 0.90);
	padding: 1.5em;
	margin: 2em auto;
	border-radius: 0.9em;
	border: 0.2em solid #073040
}

header {
	text-align: center;
}

h1, h2, h3, h4 {
	  background-color: #D5EDF2;
	  font-family: "Barlow", sans-serif;
	  font-weight: 600;
	  font-style: normal;
	  text-align: center;
	  border-radius: 0.9em;
	  color: DarkBlue;
}

h1{
	border: 0.1em solid SteelBlue;
	padding: 1em;
}

nav ul {
	margin: 1em 0;
	padding: 0;
	list-style-type: none;
	text-align: center;
}

nav li {
	display: inline-block;
	margin: 0.3em;
}

nav a {
	background-color: #D5EDF2;
	padding: 0.4em;
	border-radius: 0.6em;
	border: 0.1em solid SteelBlue;
	text-decoration: none;
	font-weight: bold;
}

nav a:hover {
	background: LightCyan;
}

a:link {
	color: black;
}

a:visited {
	color: DarkSlateBlue;
}

a:hover {
	color: #1BA0F2;
}

a:active {
	color: red;
}

section{
	background-color: rgb(68, 175, 242, 0.50);
	border-radius: 0.7em;
	padding: 1.2em;
}

p {
	line-height: 1.2em;
}

img {
	display: block;
	margin: 1.5em auto;
	max-width: 100%;
	border-radius: 0.9em;
	border: 4px solid #073040;
}

footer {
	color: white;
	margin-top: 2em;
	text-align: center;
	font-size: 1em;
	background: #073040;
	padding: 0.2em;
	border-radius: 0.9em;
}

iframe {
	display: block;
	margin: 1em auto;
	border-radius: 0.9em;
	max-width: 100%;
}